<?xml version="1.0"?>
<settings>
    <graphics>
        <resolution>0 0</resolution>
        <fullscreen>false</fullscreen>
        <borderless>true</borderless>
        <antialiasing>2</antialiasing>
        <vsync>false</vsync>
        <anisotropic>4</anisotropic>
        <shadows>2</shadows>
        <gamma>0.5</gamma>
        <shaders>2</shaders>
        <ssao>true</ssao>
        <quality>2</quality>
        <bloom>false</bloom>
    </graphics>
    <sound>
        <master>1.0</master>
        <music>0.75</music>
        <interface>0.75</interface>
        <ambient>0.75</ambient>
        <effects>0.75</effects>
    </sound>
    <game>
        <language>enGB</language>
        <autosave>true</autosave>
        <frequency>15</frequency>
        <scrollSpeed>150.0</scrollSpeed>
        <rotateSpeed>10.0</rotateSpeed>
        <panSpeed>10.0</panSpeed>
        <inverted>false</inverted>
    </game>
    <interface>
        <scale>1.0</scale>
    </interface>
</settings>
